@page
@using CinemaLib;
@using System.Text.Json;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Кинотеатр</h1>
    <table class="table table-hover">
        <thead>
            <tr>
            <th >Название</th>
            <th >Сеансы</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
        @{
            int index = 0;
            foreach (CinemaModel i in Model.data.data)
            {
                        <tr>
                            <td>
                                @i.Name
                            </td>
                            <td>
                        @{
                            string s = string.Join(", ", i.Seances);
                            @s
                        }
                            </td>
                            <td><button name="pos" value="@index" class="btn btn-info" onclick="details(this);false;">Подробнее</button></td>

                    </tr>
                    index++;
                }
            }
        </tbody>
    </table>
</div>

@{
    Model.data.Save();

    
   
}


<script>
    function details(item) {
        location.href = "/Details?pos=" + item.value;
    }
</script>




