@page
@model ASP.CORE2023._10._28.Pages.Admin.IndexModel
@{
	ViewData["Title"] = "Панель администора";
}


<div class="card text-center">
    <div class="card-header">
        <h4 class="card-title text-uppercase">Администрирование сеансов</h4>
    </div>
    <div class="card-body">
        <a href="/Admin/DeletePanel" class="btn mb-3 btn-danger">Панель удаления</a> <br />
        <a href="/Admin/AddPanel" class="btn mb-3 btn-success">Панель добавления</a> <br />
        <a href="/Admin/EdtPanel" class="btn mb-3 btn-success">Панель редактирования</a> 
    </div>
    <div class="card-footer text-muted">
        <a href="./" class="btn btn-primary">Назад</a>
    </div>
</div>